<body>
<div class="container">
  <header>
    <fa-icon [icon]="'user-plus'" size="3x" class="text-primary"></fa-icon>
    <h1>Register</h1>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>
  </header>
  <form (ngSubmit)="register()">
    <div class="control">
      <label for="firstname">Firstname</label>
      <input [(ngModel)]="registerRequest.firstname" type="text" id="firstname" name="firstname" placeholder="Enter your firstname" required>
    </div>
    <div class="control">
      <label for="lastname">Lastname</label>
      <input [(ngModel)]="registerRequest.lastname" type="text" id="lastname" name="lastname" placeholder="Enter your lastname" required>
    </div>
    <div class="control">
      <label for="email">Email</label>
      <input [(ngModel)]="registerRequest.email" type="email" id="email" name="email" placeholder="Enter your email" required>
    </div>
    <div class="control">
      <label for="password">Password</label>
      <input [(ngModel)]="registerRequest.password" type="password" id="password" name="password" placeholder="Enter your password" required>
    </div>
    <button type="submit" class="btn btn-primary button-spacing">
      <em class="fas fa-user-plus">&nbsp;Create an account</em>
    </button>
    <div>
      Already have an account? &nbsp;
      <button (click)="login()" type="button" class="btn btn-link">
        <em class="fas fa-sign-in-alt">&nbsp;Login</em>
      </button>
    </div>
  </form>
</div>
</body>
