<body>
<div class="container">
  <header>
    <fa-icon [icon]="'gamepad'" size="3x" class="text-primary"></fa-icon>
    <h1>Login</h1>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
  </header>
  <form (ngSubmit)="login()">
    <div class="control">
      <label for="email">Email</label>
      <input [(ngModel)]="authRequest.email" type="email" id="email" name="email" placeholder="Enter your email" required>
    </div>
    <div class="control">
      <label for="password">Password</label>
      <input [(ngModel)]="authRequest.password" type="password" id="password" name="password" placeholder="Enter your password" required>
    </div>
    <button type="submit" class="btn btn-primary button-spacing">
      <em class="fas fa-sign-in-alt">&nbsp;Sign in</em>
    </button>
    <div>
      Don't have an account? &nbsp;
      <button (click)="register()" type="button" class="btn btn-link">
        <em class="fas fa-user-plus">&nbsp;Register</em>
      </button>
    </div>
  </form>
</div>
</body>
