<div class="sticky top-0 border-bottom-1 border-gray-200 shadow-1 z-1">
  <p-toolbar [styleClass]="'bg-white border-top-non border-x-none border-noround'
    + 'sm:flex sm:justify-content-center sm:w-full md:flex md:justify-content-between px-8'">
    <div class="p-toolbar-group-start pl-1 sm:hidden md:flex cursor-pointer" routerLink="/">
      <fa-icon [icon]="'gamepad'" size="3x" class="text-primary"></fa-icon>
      <div class="font-bold text-primary pl-2 text-2xl">game Social</div>
    </div>
    @for (game of games; track $index) {
      <div class="p-toolbar-groupcenter bg-white border-round-3xl p-0 border-bottom-1
        border-gray-300 shadow-1 hover:shadow-2 middel-group search flex justify-content-around">
        <button class="p-button border-round-full border-red-airbnb border-2
            bg-white text-dark focus:shadow-none px-4 py-2">
          {{games.at($index)}}
        </button>
      </div>
    }

    <div class="p-toolbar-group-end sm:hidden md:flex">
      <a class="p-button p-button-link">Game Social the game</a>
      <p-menu #menu [model]="currentMenuItems" [popup]="true" styleClass="border-round-xl mt-1"></p-menu>
      <button (click)="menu.toggle($event)" class="menu flex align-content-center justify-content-around ml-2 pl-3 p-2
            border-gray-300 focus:shadow-none hover:shadow-1 border-round-3xl bg-white p-button">
        <fa-icon [icon]="'bars'" class="text-sm text-dark mr-3"></fa-icon>
<!--        <app-avatar [imageUrl]="connectedUser.imageUrl" avatarSize="avatar-sm"></app-avatar>-->
      </button>
    </div>
  </p-toolbar>
  <app-category></app-category>
</div>
